@import '../../assets/styles/variables';

$containerBackgroundColor: #3C9DD0;
$inputsBackgroundColor: #64AAD0;

.googleUpload__fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.googleUpload__fileInput::before {
  display: inline-block;
  content: 'Pinned files:';
  outline: none;
  color: #235B79;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
}
.container {
  height: $mainBoardHeight;
  width: $mainBoardWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  background-color: $containerBackgroundColor;

  .container__newTask {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: $inputsBackgroundColor;


    .newTask__input {
      width: $newTaskInputWidth;
      height: $newTaskInputButtonHeight;
      outline: none;
    }

    .newTask__newBoardInput {
    }
  }

  .container__boards {
    width: $boardsContainerWidth;
    height: $boardContainerHeight;
    display: flex;
    justify-content: space-around;

    .example-container {
      width: 100vh;
      max-width: 100%;
      margin: 0 25px 25px 0;
      vertical-align: top;
      overflow-y: auto;
      background-color: #E2E4E6;

      .example-container__cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .example-list {
        border: solid 2px #ccc;
        min-height: 50vh;
        background: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .task {
          padding: 20px 10px;
          border-bottom: solid 2px #ccc;
          color: rgba(0, 0, 0, 0.87);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          box-sizing: border-box;
          cursor: move;
          background: white;
          font-size: 14px;
          overflow-y: auto;

          .task__header {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
          }

          .task__googleUpload {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }
          .task__pinnedFiles {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
        }
      }
    }

    .cdk-drag-preview {
      border-radius: 6px;
      box-shadow: 0 10px 10px 10px rgba(94, 31, 204, 0.2),
      0 10px 10px 10px rgba(94, 31, 204, 0.2),
      0 10px 14px 10px rgba(94, 31, 204, 0.2);
    }

    .cdk-drag-placeholder {
      opacity: 0.5;
      background-color: #684fcc;
      border: 2px solid #684fcc;
    }

    .cdk-drag-animating {
      transition: transform 500ms cubic-bezier(0, 1, 0.2, 1);
    }

    .task:last-child {
      border: 2px solid #ccc;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 500ms cubic-bezier(0, 1, 0.2, 1);
    }
  }
}
