<mat-card class="container">
  <div class="container__newTask">
    <a mat-raised-button (click)="downloadExcel()">export-xlsx</a>
    <a mat-raised-button (click)="downloadCsv()">Angular5-csv</a>
    <a mat-raised-button (click)="tocsv()">test</a>

    <mat-form-field>
      <input matInput
             #newBoard
             class="newTask__newBoardInput"
             (keyup.enter)="createBoard(newBoard.value)"
             [placeholder]="'app.mainboard.addNewBoardPlaceholder' | translate">
    </mat-form-field>
    <h3>{{'app.mainboard.userEnteredAs' | translate}} {{authUser}}</h3>
    <mat-form-field>
      <input matInput
             #newTaskInput
             type="text"
             [placeholder]="'app.mainboard.addNewTaskPlaceholder' | translate"
             class="newTask__input"
             (keyup.enter)="createTask(newTaskInput.value)">
      <button mat-flat-button matSuffix class="newTask__button" (click)="createTask(newTaskInput.value)">{{'app.mainboard.addTaskButton' | translate}}</button>
    </mat-form-field>
  </div>
  <div cdkDropListGroup class="container__boards">

    <mat-card *ngFor="let board of tasks | keyvalue"  class="example-container">
      <mat-card-header class="example-container__cardHeader">
        <h2>{{board.key}}</h2>
        <button mat-icon-button (click)="deleteBoard(board.key)"><mat-icon>clear</mat-icon></button>
      </mat-card-header>
      <div
        cdkDropList
        [cdkDropListData]="tasks[board.key]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <mat-card class="task"
             *ngFor="let item of tasks[board.key]"
             cdkDrag>
          <mat-card-header class="task__header">
            <input matInput [readonly]="(board.key === 'Done')"
                   class="header__input"
                   #newTaskHeader
                   [value]="item.header"
                   (blur)="saveEditableTask(board.key, item, newTaskHeader.value)"
                   (keyup.enter)="saveEditableTask(board.key, item, newTaskHeader.value)">
            <button matSuffix mat-icon-button (click)="deleteTask(item.id, board.key)"><mat-icon>clear</mat-icon></button>
          </mat-card-header>
          <div class="task__googleUpload">
            <div class="filesTimeWrapper">
              <label class="googleUpload__fileInput">
                <input type="file" (change)="selectFile($event, board.key, item)">
              </label>
              <div class="timeWraper">
                <img class="timeWraper__img" src="../../assets/images/time.svg">
                <input #newTaskTime
                       [value]="item.time"
                       (blur)="changeTime(item, board.key, newTaskTime.value)"
                       class="googleUpload__timeInput"
                       matInput
                       type="time">
              </div>
            </div>
          </div>
          <p class="task__pinnedFiles" *ngFor="let file of item.files">{{file}}</p>
        </mat-card>
      </div>
    </mat-card>
</div>
</mat-card>
