//Main Board
$mainBoardHeight: 88vh;
$mainBoardWidth: 100%;

//New Task Section
$newTaskInputWidth: 20vh;
$newTaskInputButtonHeight: 20px;

//Boards' container
$boardsContainerWidth: 100%;
$boardContainerHeight: 100%;
