//Main Board
$mainBoardHeight: 100vh;
$mainBoardWidth: 100%;

//New Task Section
$newTaskInputWidth: 30vh;
$newTaskInputButtonHeight: 20px;

//Boards' container
$boardsContainerWidth: 100%;
$boardContainerHeight: 100%;
