
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vh;
    height: 45vh;

    .card__login {
      margin-left: 1vh;

    .card__form {
      display: flex;
      flex-direction: column;
      height: 40vh;

      .form__username {
        margin: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .form__password {
        margin: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    }
  }

}
