<div class="container">
  <mat-card class="container__card">
    <mat-card-title class="card__login">{{'app.loginForm.login' | translate}}</mat-card-title>
    <form class="card__form" >
      <div class="form__username">
        <mat-form-field>
          <input matInput
                 type="text"
                 class="username__input"
                 [formControl]="userName"
                 (change)="setName()"
                 [placeholder]="'app.loginForm.username' | translate"
          />
        </mat-form-field>

      </div>
      <div class="form__password">
        <mat-form-field>
          <input matInput
                 type="password"
                 class="password__input"
                 [formControl]="password"
                 (change)="setPassword()"
                 [placeholder]="'app.loginForm.password' | translate"
          />
        </mat-form-field>

      </div>
      <div class="form__buttons">
        <button mat-raised-button (click)="tryLogin()" class="buttons__loginButton">{{'app.loginForm.login' | translate}}</button>
      </div>
    </form>
  </mat-card>
</div>
