@import '../../assets/styles/login.variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $containerWidth;
  height: $containerHeight;

  .container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    height: $cardHeight;

    .card__login {
      margin-right: $cardNameMarginRight;

    .card__form {
      display: flex;
      flex-direction: column;

      .form__username {
        margin: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .username__input {
          width: $cardInputsWidth;
        }
      }

      .form__password {
        margin: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .password__input {
          width: $cardInputsWidth;
        }
      }
    }

      .card__loginButton {
        width: $cardInputsWidth;
        margin: 2vh;
      }
      .card__googleButton {
        width: $cardInputsWidth;
        margin: 2vh;
      }
    }
  }

}
