@import '../../assets/styles/header.variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $headerWidth;
  height: $headerHeight;
  background-color: #086CA2	;

  .container__googleUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $uploadWidth;
    height: $uploadHeight;

    .googleUpload__fileInput {
      background-color: #64AAD0;
      cursor: pointer;
      height: $fileButton;
      width: $fileInput;
      border-radius: $fileInputBorderRadius;
    }
    .googleUpload__fileInput::-webkit-file-upload-button {
      visibility: hidden;
    }
    .googleUpload__fileInput::before {
      display: inline-block;
      content: 'Choose';
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      font-weight: 700;
    }
    .googleUpload__uploadButton {
      height: $fileButton;
    }
  }

  .container__signOutLanbuttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: $uploadWidth;
    height: $uploadHeight;

    .signOutLanbuttons__en {
      height: $fileButton;
    }

    .signOutLanbuttons__ru {
      height: $fileButton;
    }
    .signOutLanbuttons__logout {
      height: $fileButton;
    }
  }
}
