@import '../../assets/styles/header.variables';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: $headerWidth;
  height: $headerHeight;
  background-color: #086CA2	;

  .container__googleUpload {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: $uploadWidth;
    height: $uploadHeight;

    input[type="file"] {
      display: none;
    }

    .googleUpload__fileInput {

      background-color: #64AAD0;
      cursor: pointer;
      height: $fileButton;
      width: $fileInput;
      border-radius: $fileInputBorderRadius;
    }
  }

  .container__signOutLanbuttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: $uploadWidth;
    height: $uploadHeight;

    .signOutLanbuttons__en {
      height: $fileButton;
      margin: 2vh;
    }

    .signOutLanbuttons__ru {
      height: $fileButton;
      margin: 2vh;
    }
    .signOutLanbuttons__logout {
      height: $fileButton;
      margin: 2vh;
    }
  }
}
