<div class="container">
<!--  <div class="container__googleUpload">-->
<!--    <label class="googleUpload__fileInput">-->
<!--      {{'app.langButtons.chooseFile' | translate}}-->
<!--      <input  type="file" (change)="selectFile($event)">-->
<!--    </label>-->
<!--    <button class="googleUpload__uploadButton" mat-raised-button (click)="gdriveUploadFile()" matSuffix >{{'app.langButtons.upload' | translate}}</button>-->
<!--  </div>-->
  <div class="container__signOutLanbuttons">
    <button mat-raised-button class="signOutLanbuttons__en" (click)="useLanguage('en')">{{'app.langButtons.en' | translate}}</button>
    <button mat-raised-button class="signOutLanbuttons__ru" (click)="useLanguage('ru')">{{'app.langButtons.ru' | translate}}</button>
    <button mat-raised-button class="signOutLanbuttons__logout" (click)="userSignOut()">{{'app.langButtons.logout' | translate}}</button>
  </div>
</div>
